<% if (section == 'profile') { %>
	<div class="section nav-target" id="profile">
		<div class="row">
			<form class="ajax full-width" action="/user/<%= user.id %>" method="post">
				<div class="col span-1">
					<div class="user-info">
						<div class="info-group center">
							<img class="avatar large" title="<%= user.getFullName() %>" src="<%= user.getAvatar() %>">
							<span class="label">admin</span>
						</div>
					</div>
				</div>
				<div class="col span-1">
					<h1>Name</h1>
					<label for="firstName">First</label>
					<input type="text" name="firstName" value="<%= user.firstName %>">
					<label for="lastName">Last</label>
					<input type="text" name="lastName" value="<%= user.lastName %>">
				</div>
				<div class="col span-1">
					<h1>Login</h1>
					<label for="email">Email</label>
					<input type="email" name="email" value="<%= user.email %>">
					<label for="password">New Password</label>
					<input type="password" name="password">
					<label for="confirmPassword">Confirm Password</label>
					<input type="password" name="confirmPassword">
					<button>Save Profile</button>
				</div>
			</form>
		</div>
	</div>

<% } else if (section == 'system') { %>
	<div class="section nav-target" id="system">
		<div class="row">
			<div class="col span-1">
				<form class="ajax full-width" action="system" method="put">
					<h1>General</h1>
					<label for="domain">Domain</label>
					<input type="text" name="domain" value="<%= system.settings.domain %>">
					<label for="timeout">Script Timeout</label>
					<input type="text" name="timeout" value="<%= system.settings.scriptTimeout %>">
					<button>Save General</button>
				</form>
			</div>
			</div>
		</div>

<% } else if (section == 'users') { %>
	<div class="section nav-target" id="users">
		<div class="row">
			<div class="col span-2">
				<% _.each(users, function(u) { %>
					<div class="user-info">
						<div class="info-group center">
							<img class="avatar medium" title="<%= u.getFullName() %>" src="<%= u.getAvatar() %>"><br>
						</div>
						<div class="info-group">
							<strong>
								<a class="modal-trigger ajax" href="edit-user?partial=true" data-rel="<%= u.id %>">
									<%= u.firstName %> <%= u.lastName %>
									<svg class="icon inline">
										<use xlink:href="#pencil"></use>
									</svg>
								</a>
							</strong>
							<br>
							<span class="text-small"><%= u.email %></span>
							<br>
							<% if (u.admin) { %><span class="label">admin</span><% } %>
						</div>
					</div>
				<% }) %>
			</div>
			<div class="col span-1">
				<form class="full-width" action="/user" method="post">
					<h1>Add User</h1>
					<label for="firstName">First Name</label>
					<input type="text" name="firstName">
					<label for="lastName">Last Name</label>
					<input type="text" name="lastName">
					<label for="email">Email</label>
					<input type="text" name="email">
					<label for="password">Password</label>
					<input type="password" name="password">
					<div class="checkbox-field">
						<input type="checkbox" name="admin"><label for="admin">Administrator</label>
					</div>
					<button>Save User</button>
				</form>
			</div>
		</div>
	</div>

	<div class="modal-window"></div>

<% } else if (section == 'edit-user') { %>
	<div data-id="<%= editUser.id %>" class="centered modal">
		<div class="container">
			<img class="avatar large" title="<%= editUser.getFullName() %>" src="<%= editUser.getAvatar() %>">
			<br>
			<form class="full-width ajax" action="/user/<%= editUser.id %>" method="post">
				<label for="firstName">First Name</label>
				<input type="text" name="firstName" value="<%= editUser.firstName %>">
				<label for="lastName">Last Name</label>
				<input type="text" name="lastName" value="<%= editUser.lastName %>">
				<label for="email">Email</label>
				<input type="text" name="email" value="<%= editUser.email %>">
				<div class="checkbox-field">
					<input type="checkbox" name="admin" value="true" <% if (editUser.admin) { %>checked="checked"<% } %>><label for="admin">Administrator</label>
				</div>
				<div class="button-group">
					<button>Save User</button>
					<a href="/user/delete/<%= editUser.id %>/" class="button danger no-fill">Delete User</a>
				</div>
			</form>
		</div>
	</div>

<% } else if (section == 'modules') { %>
	<div class="section nav-target" id="modules">
		<div class="row">
			<div class="col span-1">
				<h1>Modules</h1>
				<ul>
					<% _.each(modules, function(m) { %>
						<li>
							<%= m.name %>
							<a href="<%= m.homepage %>" target="_blank">
								<svg class="icon inline">
									<use xlink:href="#expand"></use>
								</svg>
							</a>
							<form class="ajax delete-module-form" action="/modules/delete" method="post">
								<input type="hidden" name="name" value="<%= m.name %>">
								<button class="danger">Delete</button>
							</form>
						</li>
					<% }) %>
				</ul>
			</div>
			<div class="col span-3">
				<h1>Add Module</h1>
				<input type="search" name="module-search">
				<div class="module-info container" style="display:none;">
					<h3 data-rel="name">module-name</h3>
					<div class="row info-item">
						<span class="col span-2 itemlabel">Author</span>
						<span class="col span-4 item-data" data-rel="author.name"></span>
					</div>
					<div class="row info-item">
						<span class="col span-2 itemlabel">Version</span>
						<span class="col span-4 item-data" data-rel="version"></span>
					</div>
					<div class="row info-item">
						<span class="col span-2 itemlabel">License</span>
						<span class="col span-4 item-data" data-rel="license"></span>
					</div>
					<div class="row info-item">
						<span class="col span-2 itemlabel">Repository</span>
						<span class="col span-4 item-data" data-rel="repository.url"></span>
					</div>
					<div class="row info-item">
						<span class="col span-2 itemlabel">Homepage</span>
						<span class="col span-4 item-data" data-rel="homepage"></span>
					</div>
					<div class="row info-item">
						<span class="col span-2 itemlabel">Bugs</span>
						<span class="col span-4 item-data" data-rel="bugs.url"></span>
					</div>
					<form id="add-module-form" class="ajax" action="/modules/install" method="post">
						<input type="hidden" name="name" data-rel="name">
						<button>Add</button>
					</form>
					<a href="#" class="module-link" target="_blank" data-rel="homepage">
						<svg class="icon inline">
							<use xlink:href="#expand"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
<% } %>