<aside>
	<ul>
		<li class="home">
			<a href="/">
				<svg class="icon">
					<use xlink:href="#logo"></use>
				</svg>
			</a>
		</li>
		<li class="settings">
			<a href="/settings/">
				<svg class="icon">
					<use xlink:href="#cog"></use>
				</svg>
			</a>
		</li>
		<li class="hooks">
			<a href="#">
				<svg class="icon">
					<use xlink:href="#list"></use>
				</svg>
			</a>
			<div class="flyout-menu">
				<button class="sidebar-add-hook medium">New Hook +</button>
				<form class="full-width accent add-hook" action="/hook" method="post" style="display:none;">
					<input class="large" type="text" name="name" placeholder="Name">
					<button type="submit" style="display:none;">Add</button>
				</form>
				<ul>
				 <% for (var i = 0; i < hooks.all.length; i++) { %>
				 	<li><a href="/hook/<%= hooks.all[i].id %>/"><%= hooks.all[i].name %></a></li>
				 <% } %>
				</ul>
			</div>
		</li>
		<% if (locals.sidebarLinks) { %>
			<% _.each(sidebarLinks, function(link) { %>
				<li class="page-nav <%= (link.class) ? link.class : '' %> <%= (link.active) ? 'active' : '' %>" data-rel="<%= (link.rel) ? link.rel : '' %>">
					<a href="<%= link.href %>">
						<svg class="icon">
							<use xlink:href="#<%= link.icon %>"></use>
						</svg>
					</a>
				</li>
			<% }) %>
		<% } %>
	</ul>
</aside>